.grid__container {
  margin-top: -8rem;
  padding: 0 3rem;
  background-image: url('../../assets/fundo-bicos.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30rem;
  background-color: var(--primary-color);
}

.title {
  /* background-color: red; */
  width: 11rem;
  margin-left: -1.9rem;
  margin-bottom: -3.5rem;
}

.grid__bicos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 2rem;
}