.localization__container {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: 2rem;
  height: 2rem;
  width: 11rem;
  color: white;
}

.localization__container:hover {
  cursor: pointer;
}

.localization__icon {
  /* background-color: red; */
  font-size: 1.7rem;
  color: white;
}

/* For small devices */
@media screen and (max-width: 350px) {
  .localization__container {
    display: none;
  }
}