.localization__container {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: 2rem;
  height: 2rem;
  width: 11rem;
}

.localization__container:hover {
  cursor: pointer;
}

p {
  color: var(--terciary-color);
}

.localization__icon {
  /* background-color: red; */
  font-size: 1.7rem;
  color: var(--terciary-color);
}
