.bico__container {
  background-color: rgba(255, 255, 255, 0.78);
  display: flex;
  width: 25rem;
  height: 11rem;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.bico__container:hover {
  background-color: #F8F8F8;
  cursor: pointer;
  transform: scale(1.05);
  transition: .3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.bico__img {
  width: 37%;
  border-radius: 15px;
  background-color: var(--black-color);
}

.bico__infos {
  /* background-color: blue; */
  width: 63%;
  padding: 1rem 0 1rem 1.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

@media screen and (max-width: 350px) {
  .bico__container {
    width: 15rem;
    height: 7rem;
    padding: 1rem;
    border-radius: 15px;
  }
  .bico__infos {
    padding: 0.5rem 0 1rem 1.5rem;
    font-size: .85rem;
  }
  .stamp__img {
    width: 3rem;
    margin-left: 3rem;
    /* background-color: red; */
  }
}