.search__container {
  background-color: rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 37rem; 
  height: 3rem;
  padding: 1rem;
  overflow: hidden;
}

.search__icon {
  font-size: 1.3rem;
  color: var(--primary-color);
}

.search__input {
  margin-left: 1rem;
  border-style: none;
  background-color: transparent;
  color: var(--terciary-color);
  width: 36vw;
  font-family: sans-serif;
}

input {
  outline: none;
}