.search__container {
  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: var(--primary-color); */
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 37rem; 
  height: 3rem;
  padding: 1rem;
  overflow: hidden;
}

.search__icon {
  font-size: 1.3rem;
  color: var(--terciary-color);
}

.search__input {
  margin-left: 1rem;
  border-style: none;
  background-color: transparent;
  color: #000;
  width: 36vw;
  font-family: sans-serif;
}

.search__input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input {
  outline: none;
}

@media screen and (max-width: 350px) {
  .search__container {
    display: none;
  }
}